body {
  background-color:white;
  
}
.Mainlist_header {
  margin-top: 30px;
  background-color: white;
  width: 100%;
  padding-left: 15px;

  
  
}
.Mainlist_row1 ul {
  width: 90%;
  display: flex;
  flex-direction: row;
  font-size: smaller bold;
  background-color: white;
  align-items: center;
  margin: 20px;
  padding-left: 20px;

}

.Mainlist_row1 ul li {
  padding-top: 5px;
  padding-left: 0px;
  padding-right: 25px;
  list-style-type: none;
  background-color: white;
  width: 90%;
  display: flex;
  flex-direction: row;
  font-size: smaller bold;
  align-items: center;
  margin: 15px;
  padding-right: 20px;

}

.Cb,
.Mainlist_list_whitecircle:hover {
  min-width: 20px;
  max-width: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  min-height: 20px;
  max-height: 20px;
  border-radius: 50px;
  color: #c3cad9;
  font-size: 1.2rem;
  border: 1px solid lightgray;
  
}
.Mainlist_Innerbox {
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  height: 20%;
  box-shadow: 1px 1px 2px 2px lightgray;
}
.Mainlist_list {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-radius: 10px;
}
.Mainlist_list_row_top{
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 10px;
  margin-bottom: 10px;
  background-color: #f3f3f4;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 60px;
}

.Mainlist_list_row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 95%;
  padding-left: 20px;
}
.Mainlist_list_row7_top{
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 10px;
  margin-bottom: 10px;
  background-color: #9155FD;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 60px;
}
.Mainlist_list_row7 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 95%;
  padding-left: 20px;
}

.Mainlist_Button {
  display: flex;
  flex-direction: row;
  margin-left: 50%;
  background-color: white;
  border-radius: 20px;
  padding: 5px;
  color: rgba(0, 0, 0, 0.5);
  border: 1px solid lightgray;
}
.Cb checkbox :checked {
  background-color: rgb(215, 105, 21);

}
.Mainlist_list_row_top:hover{
  background-color: #9155FD;

}

